<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cashiar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <application
        android:name=".share.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.activity_add_subliers.AddSubliersActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_bill_Sell.BillSellActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_welcome.WelcomeActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_cart_buy.CartBuyActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_pay_buy.PaymentBuyActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_products_buy.ProductsBuyActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_suppliers.SuppliersActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_customers.CustomersActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_add_Customer.AddCustomerActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_login.LoginActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.activity_confirm_code.ConfirmCodeActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_cart_sell.CartSellActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_pay_sell.PaymentSellActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_sign_up.SignUpActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service
            android:name=".notification.FireBaseMessaging"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity_add_discount.AddDiscountActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_disacount.DiscountActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_departments.DepartmentActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_categories.CategoriesActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_add_departmnet.AddDepartmnetActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_edit_profile.EditprofileActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_edit_cashier_profile.EditprofileCashierActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_products_sell.ProductsSellActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity

            android:name=".ui.activity_add_product.AddProductActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.scanner.ActivityScanner"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_products.ProductsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.activity_expenses.ExpensesActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.activity_add_expenses.AddExpensesActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.Activity_add_accout.AddAccountActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.activity_home.HomeActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.Activity_products_bill_sell.ProductsBillSellActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_cart_bill_sell.CartBillSellActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_all_bill_sell.AllBillSellActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_cart_bill_buy.CartBillBuyActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_products_bill_buy.ProductsBillBuyActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_profile.ProfileActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_all_bill_buy.AllBillBuyActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_payment_bill_buy.PaymentBillBuyActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_payment_bill_Sell.PaymentBillSellActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activityacountmangment.AccountMangmentActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_add_cashier.AddCashierActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity_contactus.ContactusActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.activity_splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/mapapikey" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider"/>
        </provider>
    </application>

</manifest>